body {
    background: linear-gradient(135deg, #004e92, #00c6ff);
    /* Deep Blue to Aqua */
    color: #fff;
    /* White text for contrast */
    font-family: 'Khmer';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    text-align: center;
}


.container {
    width: 100%;
    max-width: 900px;
    padding: 10px 0;
}

.logo {
    max-width: 120px;
    height: auto;
}

.logo-a {
    max-width: 30px;
    height: auto;
    color: white;
}

.nav-letter {
    color: rgb(250, 248, 248);
    letter-spacing: 1px;
    text-decoration: none;
    font-family: 'Khmer';
}

.welcome-text {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 12px;
    text-transform: uppercase;
    white-space: nowrap;
}

.cover {
    width: 100%;
    max-width: 800px;
    height: auto;
    margin: 3px auto;
    border: 2px solid #00eaff;
    box-shadow: 0 0 10px #00eaff;
    border-radius: 8px;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 800px;
    margin: 10px auto;
    gap: 10px;
}

.column {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h4 {
    margin-top: -10px;
    margin-bottom: 3px;
}

.button-group {
    display: flex;
    width: 100%;
    max-width: 800px;
    justify-content: space-between;
    gap: 10px;
}

.button-group a i {
    font-size: 38px;
    color: #24D1DE;
}

.neon-button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1.5px;
    flex: 1;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background: #004e92;
    border: 1.5px solid #00eaff;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
    box-shadow: 0 0 10px #00eaff;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    min-height: 76px;
}

.neon-button img {
    width: 60px;
    height: auto;
}

.neon-button:hover {
    background: #00eaff;
    color: #121212;
    box-shadow: 0 0 20px #00eaff;
}


.header {
    width: 100%;
    position: sticky;
    top: 0;
    background: linear-gradient(180deg, #004e92, #1a69af);
    /* Deep Blue to Aqua */
    color: #f3fcff;
    z-index: 399;
    height: 66px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    padding: 0 10px;
    margin-bottom: 0.3rem;
    box-shadow: 0 3px 5px rgba(0, 215, 243, 0.9), 0 0 15px rgba(2, 236, 217, 0.75);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    margin-bottom: 3px;
}

/* Offset the scroll position to account for the fixed header */
.section {
    scroll-margin-top: 60px;
    /* Adjust this value according to the height of your fixed header */
}

.promotion-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    /* Keeps the height as auto */
    padding: 10px;
    /* Adds some padding for better spacing */
    background: linear-gradient(180deg, #004e92, #1a69af);
    /* Deep Blue to Aqua */
    margin: 10px auto;
    border: 2px solid #00eaff;
    box-shadow: 0 0 10px #00eaff;
    border-radius: 8px;
    text-align: center;
    /* Ensures text is centered horizontally */
    color: linear-gradient(180deg, #f7de00, #fff);
    font-weight: bold;
    background: linear-gradient(180deg, #fff, #f7de00);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: 1.6px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* # Modal style */
.cus-modal-style{
    background: linear-gradient(135deg, #004e92, #00c6ff);
    /* Deep Blue to Aqua */
    color: #fff;
    /* White text for contrast */
    font-family: 'Khmer';
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
    position: relative;
    text-wrap-style: auto;
    text-wrap-mode: wrap;
}
.img-modal-style {
    box-shadow: 0 3px 5px rgba(0, 215, 243, 0.9), 0 0 15px rgba(2, 236, 217, 0.75);
    margin-bottom: 10px;
}

#image-description{
    margin-top: 10px;
}

#small-text-id{
    font-size: 16px !important;
}

/* Responsive Design */
@media (max-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: center;
        text-align: center;
    }

    .welcome-text {
        font-size: 12px;
        padding: 4px 4px;
        scale: 71%;
    }

    .logo {
        max-width: 100px;
    }

    .row {
        flex-direction: column;
        align-items: center;
    }

    .column {
        width: 100%;
        max-width: 800px;
    }

    .button-group {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 10px;
    }

    .neon-button {
        font-size: 9px;
        letter-spacing: 0.5px;
    }

    .neon-button img {
        width: 40px;
        height: auto;
    }

    .button-group a i {
        font-size: 28px;
        color: #24D1DE;
    }

    .nav-letter {
        color: rgb(250, 248, 248);
        letter-spacing: 0, 6px;
        text-decoration: none;
        font-family: 'Khmer';
    }

    #small-text-id {
        font-size: 10px !important;
    }
}
