/* Style for Index Page*/
body {
    margin: 2em 6em;
    font-family: Georgia, "Times New Roman", Times, serif;
}
h1,
h2 {
    color: #399;
}
h1 {
    font-size: 1.5em;
}
h2 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
}
small {
    color: #999;
}